<div class="container">
    <div class="side-nav-top">
        <div class="logo">
            <img src="../../../assets/artwork.svg" id="logo" alt="logo">
            <img src="../../../assets/separator.svg" alt="">
            <div class="title">
                <h3>ThingsBoard</h3>
                <h4>Tenant Administrator</h4>
            </div>
        </div>

    </div>
    <div class="side-nav-bottom">
        <div class="design-section">
            <ul>
                <li><img src="../../../assets/home-icon.svg" alt="">Home</li>
                <li><img src="../../../assets/rule-chains.svg" alt="">Rule chains</li>
                <li><img src="../../../assets/person-box.svg" alt="">Customers</li>
                <li><img src="../../../assets/building.svg" alt="">Assets</li>
                <li><img src="../../../assets/phone-vibrate.svg" alt="">Device Management</li>
                <li><img src="../../../assets/edge-man.svg" alt="">Edge Management</li>
                <li><img src="../../../assets/entity.svg" alt="">Entity View </li>
                <li><img src="../../../assets/hdd-rack.svg" alt="">Dashboard Management</li>
                <li><img src="../../../assets/inboxes2.svg" alt="">Audit</li>
                <li><img src="../../../assets/layers.svg" alt="">Version control</li>
                <li><img src="../../../assets/settings.svg" alt="">System Settings </li>

            </ul>
        </div>
    </div>
</div>