<div class="container">
    <div class="side-nav-top">
        <div class="logo">
            <img src="../../../assets/artwork.svg" id="logo" alt="logo">
            <img src="../../../assets/separator.svg" alt="">
            <div class="title">
                <h3>ThingsBoard</h3>
                <h4>Tenant Administrator</h4>
            </div>
        </div>

    </div>
    <div class="side-nav-bottom">
        <div class="design-section">
            <ul>
                <li *ngFor="let route of routes"
                li
                [routerLink]="route.path"
                ><img [src]="'../../../assets/'+route.path+'-icon.svg'" alt="icon">{{route.label}}</li>
            </ul>
        </div>
    </div>
