<div class="container">
    <div class="top">
        <h2>Home</h2>
        <div class="profile-icon">
            <img src="../../../assets/icon-shape.svg" alt="">
            <span class="icon">
                <img src="../../../assets/person-circle.svg" alt="">
            </span>
        </div>
    </div>
</div>
<div class="icon-cards">
    <app-icon-card title="Rules Managemnet" iconImgSrc="../../assets/icon.svg" bgIconImgSrc="../../assets/bg-icon.svg"></app-icon-card>
    <app-icon-card title="Customer Managemnet" iconImgSrc="../../assets/icon.svg" bgIconImgSrc="../../assets/bg-icon.svg"></app-icon-card>
    <app-icon-card title="Entity View" iconImgSrc="../../assets/icon.svg" bgIconImgSrc="../../assets/bg-icon.svg"></app-icon-card>
    <app-icon-card title="Asset Managemnet" iconImgSrc="../../assets/icon.svg" bgIconImgSrc="../../assets/bg-icon.svg"></app-icon-card>
</div>
