@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url(./assets/HelveticaNeue.ttf) format("truetype");
}
@font-face {
    font-family: "HelveticaB";
    src: local("HelveticaB"), url(./assets/HelveticaNeueBd.ttf) format("truetype");
}
.container{
    display:flex;
    font-family: "Helvetica";
}